<%= form_tag tweets_path, method: 'post', class: "pull-left" do %>
  <div class="field">
    <%= text_field_tag :handle, params[:handle], class: "form-control", placeholder: "@dhh" %>
  </div>
  <div class="actions">
    <%= submit_tag "Get Tweets", class: "btn btn-submit" %>
  </div>
<% end %>

<section id="tweets">
  <% unless @tweets.blank? %>
    <h2><%= @tweets.first.user.screen_name %>'s Recent Tweets:</h2> 
    <ol>
      <% @tweets.each do |tweet| %>
        <li>
          <%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %><br>
          <%= tweet.created_at.try(:strftime, '%m/%d/%Y %I:%M%P') %>
        </li>
      <% end %>
    </ol>
  <% end %>
  <%= link_to("or just go to Twitter instead >>", "https://twitter.com") %>
</section>
